@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($property, $duration : 0.2s){
  -webkit-transition: $property $duration;
  transition: $property $duration;
}

@mixin rounded-left($radius){
  -webkit-border-top-left-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin rounded-right($radius){
  -webkit-border-top-right-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  -moz-border-radius-bottomright: $radius;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin section-text{
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: black;
}

@mixin dark-gray-regular-text{
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: $dark-gray;
}

@mixin at2x($image_name, $w: auto, $h: auto, $extention: '.png') {
  background-image: image_url($image_name + $extention);
  $x2img : $image_name + '@2x' + $extention;
  background-size: $w $h !important;

  @media all and (-webkit-min-device-pixel-ratio : 1.5) {
    background-image: image_url($x2img) !important;
    background-size: $w $h !important;
  }
}
