$desk-black: #414042;
$yellow: #ffe111;
$dark-yellow: #f3d708;
$light-yellow: #ffe342;
$transparent-yellow: rgba(255, 225, 17, 0.9);
$white-yellow: rgba(255, 225, 17, 0.3);
$yellow-background: rgba(255, 225, 17, 0.7);
$aqua: #00cca5;
$dark-aqua: #05b496;
$red: #ff5a5f;
$dark-red: #d2505a;
$black: #000000;
$light-black: #222222;
$dark-gray: #808184;
$gray-text: #9f9f9f;
$gray: #cccccc;
$light-gray: #efefef;
$dark-white: #f6f6f6;
$white: #FFFFFF;
$fb-blue: #3b5998;
$translucent-black: rgba(0, 0, 0, 0.6);

// margins & paddings
$module: 15px;
