/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap_and_overrides
 *= require select2
 *= require select2-bootstrap
 *= require_self
 *= require_tree .
*/


/* This fixes Glyphicons for Twitter Bootstrap */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: asset-url('glyphicons-halflings-regular.eot');
  src: asset-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  asset-url('glyphicons-halflings-regular.woff') format('woff'),
  asset-url('glyphicons-halflings-regular.ttf') format('truetype'),
  asset-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
