@import 'variables';
@import 'mixins';
@import 'tools';

.rounded-btn {
  padding: 10px 20px;
  border-radius: 40px;
  border: 2px solid;
  color: $dark-gray;
  &.default {
    border-color: $yellow;
  }
  &.green {
    border-color: $aqua;
  }
  &.yellow-fill{
    border-color: $yellow;
    background-color: $yellow;
    color: $black;
  }
  &.bold{
    letter-spacing: 0.08rem;
    font-weight: 700;
  }
}
