@import 'variables';
@import 'mixins';

.rounded-btn {
  padding: 10px 20px;
  border-radius: 40px;
  border: 2px solid;
  color: $dark-gray;
  background-color: transparent;
  font-weight: 700;
  text-align: center;
  &.default {
    border-color: $yellow;
  }
  &.green {
    border-color: $aqua;
  }
  &.yellow-fill{
    border-color: $yellow;
    background-color: $yellow;
    color: $black;
  }
  &.grey-fill {
    border-color: $gray;
    background-color: $gray;
    color: $white;
  }
  &.bold{
    letter-spacing: 0.08rem;
    font-weight: 700;
  }
  &.width-50 {
    width: 50%;
  }
  &.width-100 {
    display: inline-block;
    width: 100%;
  }
}
