@import 'variables';
@import 'mixins';
@import 'tools';

p, h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.065rem;
}

p {
  color: $gray-text;
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
}

h3 {
  font-size: 15px;
  font-weight: 700;
}