@import 'variables';
@import 'mixins';

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: .065rem;
}

p {
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;

  margin-bottom: 0;

  color: $gray-text;
}

h3 {
  font-size: 15px;
  font-weight: 700;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}

.yellow {
  color: $yellow;
}

.aqua {
  color: $aqua;
}

.gray{
  color: $gray-text;
}

.black{
 color: $desk-black;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

.left {
  float: left;
}

.right {
  float: right;
}

.margin-top {
  margin-top: 20px !important;
}

.margin-bottom {
  margin-bottom: 20px !important;
}

.margin-left {
  margin-left: 15px !important;
}

.pointer {
  cursor: pointer;
}

.not-allowed{
  cursor: not-allowed;
}

.add {
  line-height: 15px;

  position: relative;

  display: inline-block;

  width: 122px;
  margin: 15px auto 0;
  padding-bottom: 25px;
  padding-left: 20px;

  transition: .25s;
  &.block {
    display: block;
  }
  &:before {
    line-height: 15px;

    position: absolute;
    top: 0;
    left: 0;

    width: 15px;
    height: 15px;

    content: '+';
    text-align: center;

    color: $white;
    border-radius: 100%;
    background-color: $aqua;
  }
  &:hover {
    color: darken($aqua, 10%);
  }
  &.disabled{
    cursor: not-allowed;
    color: $dark-gray;
    text-decoration: none;
  }
  &.organization{
    width: 200px;
  }
}

.aqua.arrow {
  position: relative;

  display: inline-block;

  padding-left: 20px;

  cursor: pointer;
  transition: .25s;
  &.block {
    display: block;
  }
  &:before {
    line-height: 15px;

    position: absolute;
    top: 0;
    left: 0;

    width: 15px;
    height: 15px;

    content: '';

    color: $white;
    border-radius: 100%;
    background-color: $aqua;

    @include at2x('ic_profile_arrow', 16px, 16px);
  }
  &:hover {
    color: darken($aqua, 10%);
  }
}

.overflow-hidden {
  overflow: hidden;
  .height-100 {
    margin-bottom: -9999px;
    padding-bottom: 9999px;
  }
}

.title {
  &.inline {
    img {
      display: inline-block;

      margin-right: 5px;
    }
    h3 {
      display: inline-block;
      &.big {
        font-size: 21px;

        margin: 0;
      }
    }
  }
}

.add-space-section {
  height: 190px !important;
}

.add-image,
.add-space {
  position: relative;

  width: 100%;
  height: 155px;

  background: $yellow;
  &:before {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;

    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 15px);

    width: 30px;
    height: 30px;

    content: '+';
    text-align: center;

    color: $yellow;
    border-radius: 100%;
    background-color: $black;
  }
  p {
    color: black;
    font-weight: 700;

    position: absolute;
    top: calc(50% + 20px);

    width: 100%;
    height: 20px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    text-transform: uppercase;
  }
}

.margin-top-0 {
  margin-top: 0px !important;
}

.add-space {
  margin-top: 33px;
}

.form--hidden {
  display: none;
}

.main-container {
  padding-bottom: 325px;
  min-height: 100%;
  position: relative;
}
.add-image-container {
  cursor: pointer;
}
.new-member {
  .add-image {
    height: 210px;
  }
  .hover .delete-photo {
    position: absolute;
    top: calc(50% - 16px);
    width: 140px;
  }
  .delete-organization-link {
    color: $gray-text;
    &:before {
      display: inline-block;
      margin-right: 5px;
      padding: 0px 3px;
      line-height: 16px;
      content: 'x';
      color: #9f9f9f;
      border-radius: 100%;
      border: 1px solid #9f9f9f;
    }
  }
}
.organization-profile {
  padding-bottom: 50px;
  .name {
    &:after {
      left: 230px !important;
    }
  }
  .members-list {
    padding-top: 20px;
  }
  .user-email {
    position: relative;
    margin-bottom: 15px;
    &:after {
      position: absolute;
      content: '';
      width: 40px;
      height: 2px;
      background-color: #ffe111;
      bottom: -7px;
      left: 160px;
    }
  }
}

.identity-confirmed{
  color: #666666;
  &:before{
    content: "";
    display: inline-block;
    height: 22px;
    vertical-align: middle;
    width: 22px;
    margin-right: 5px;
    background: url("check.png") no-repeat center center;
  }
}


.faq-container{
  *{
    font-family: "Open Sans", Sans-Serif;
  }
  a{
    text-decoration: none;
  }
  h1{
    color : #FFE111;
    border-bottom: 2px solid #FFE111;
    width: 100px;
    margin: 0 auto;
    line-height: 50px;
  }
  h2{
    font-size: 15px;
    color: #000;
  }
  h2.content-title{
      font-size: 30px!important;
      font-weight: 500;
      margin: 0 0 25px;
  }
  #sidebar-faq{
    margin-bottom: 30px;
    > div > div > ul {
      > li {
        & > a:after {
          font-family: 'FontAwesome', serif;
          content: "\f105";
          color: #00cca5;
          float: right;
        }
        & > a:before{
          font-family: FontAwesome, serif;
          color: #666666;
          margin-right: 12px;
          width: 20px;
          float: left;
          text-align: center;
          font-size: 20px;
        }
      }
    }
    .general-content > div {
     > ul{
        > li{
          &:nth-child(1) > a:before{
            content: "\f024";
          }
          &:nth-child(2) > a:before{
            content: "\f0ac";
          }
          &:nth-child(3) > a:before{
            content: "\f108";
          }
          &:nth-child(4) > a:before{
            content: "\f023";
          }
        }
      }
    }
    .guests-content > div {
      > ul{
        > li{
          &:nth-child(1) > a:before{
            content: "\f007";
          }
          &:nth-child(2) > a:before{
            content: "\f073";
          }
          &:nth-child(3) > a:before{
            content: "\f09d";
          }
          &:nth-child(4) > a:before{
            content: "\f05c";
          }
        }
      }
    }
    .hosts-content > div {
      > ul{
        > li{
          &:nth-child(1) > a:before{
            content: "\f007";
          }
          &:nth-child(2) > a:before{
            content: "\f040";
          }
          &:nth-child(3) > a:before{
            content: "\f073";
          }
          &:nth-child(4) > a:before{
            content: "\f09d";
          }
          &:nth-child(5) > a:before{
            content: "\f046";
          }
          &:nth-child(6) > a:before{
            content: "\f05c";
          }
          &:nth-child(7) > a:before{
            content: "\f0c0";
          }
        }
      }
    }
    > ul {
      > li {
        width: 180px;
      }
      .selected{
        margin-bottom: 10px;
        a{
          &:after{
            content:"";
          }
        }
        > &:before{
          content: "\f104";
          font-family: FontAwesome, Sans-Serif;
          float: left;
          font-size: 18px;
          color: #00cca5;
          padding: 0 10px 0 0;
          margin-top: -2px;
        }
      }
    }
    ul{
      ul{
        display:none;
        border-top: 2px solid #FFE111;
        margin-top: 10px;
        li{
          margin: 10px 0;
          padding-left: 10px;
          a{
            font-size: 14px;
          }
          &.sidebar-selected{
            border-left: 2px solid #FFE111;
          }
          &:nth-child(1){
            margin: 20px 0 10px;
          }
        }
      }
    }
  }
  .content-faq{
    a{
      color: #00cca5;
    }
    a.more{
      color: #000;
      font-weight: 600;
      &.more:after{
        content: "\f101";
        font-family: FontAwesome, Sans-Serif;
        color: #00cca5;
        padding-left: 10px;
        font-size: 12px;
      }
    }
    p{
      font-size: 15px;
      font-weight: 500;
      margin: 15px 0px;
      color: #000;
    }
    h2{
      display: inline-block;
      margin: 0;
    }
    .item{
      margin-top: 40px;
    }
    .why-use{
      display: none;
    }
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      padding: 10px 0;
      a{
        color: #808184;
        line-height: 20px;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
  .menu-faq{
    text-align: center;
    margin: 30px 0;
    li{
      display: inline-block;
      padding: 30px;
      a{
        color: #000;
      }
      a.active{
        border-top: 2px solid #FFE111;
        border-bottom: 2px solid #FFE111;
        color: #808184;
        padding: 10px 0;
      }
    }
  }
  .row.getting-started-1,.row.getting-started-2, .row.getting-started-3,
  .row.workspaces-1, .row.workspaces-2, .row.workspaces-3,.row.workspaces-4, .row.workspaces-5, .row.workspaces-6,
  .row.countries-1,
  .row.confidentiality-1,
  .account-1,.account-2,.account-3,.account-4,.account-5,.account-6,.account-7,.account-8,
  .bookings-1,.bookings-2,.bookings-3,.bookings-4,.bookings-5,.bookings-6,.bookings-7,.bookings-8,.bookings-9,.bookings-10,.bookings-11,.bookings-12,
  .payments-1,.payments-2,.payments-3,
  .cancellations-1,.cancellations-2,
  .list-space-1,.list-space-2,.list-space-3,.list-space-4,.list-space-5,
  .guests-content, .hosts-content,
  .more-content{
    display: none;
  }
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  float: left;
}

.fa-map-signs:before{
  content: "\f277";
}
.fa.fa-globe:before{
  content: "\f0ac";
}
.fa.fa-desktop:before{
  content: "\f108";
}
.fa.fa-lock:before{
  content: "\f023";
}
.fa.fa-user:before{
  content: "\f007";
}
.fa.fa-calendar:before{
  content: "\f073";
}
.fa.fa-times-circle-o:before{
  content: "\f05c";
}
.fa.fa-pencil:before{
  content: "\f040";
}
.fa.fa-credit-card:before{
  content: "\f09d";
}
.fa.fa-check-square-o:before{
  content: "\f046";
}
.fa.fa-flag:before{
  content: "\f024";
}
.fa:before{
  font-family: FontAwesome, serif;
  color: #666666;
  margin-right: 12px;
  width: 20px;
  text-align: center;
  font-size: 20px;
}

ul.answers{
  padding-left: 25px;
  li:before{
    font-family: FontAwesome, serfif;
    content: "\f111";
    margin-right: 10px;
  }
}
