@import 'variables';
@import 'mixins';

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: .065rem;
}

p {
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;

  margin-bottom: 0;

  color: $gray-text;
}

h3 {
  font-size: 15px;
  font-weight: 700;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}

.yellow {
  color: $yellow;
}

.aqua {
  color: $aqua;
}

.gray{
  color: $gray-text;
}

.black{
 color: $desk-black;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

.left {
  float: left;
}

.right {
  float: right;
}

.margin-top {
  margin-top: 20px !important;
}

.margin-bottom {
  margin-bottom: 20px !important;
}

.margin-left {
  margin-left: 15px !important;
}

.pointer {
  cursor: pointer;
}

.not-allowed{
  cursor: not-allowed;
}

.add {
  line-height: 15px;

  position: relative;

  display: inline-block;

  width: 122px;
  margin: 15px auto 0;
  padding-bottom: 25px;
  padding-left: 20px;

  transition: .25s;
  &.block {
    display: block;
  }
  &:before {
    line-height: 15px;

    position: absolute;
    top: 0;
    left: 0;

    width: 15px;
    height: 15px;

    content: '+';
    text-align: center;

    color: $white;
    border-radius: 100%;
    background-color: $aqua;
  }
  &:hover {
    color: darken($aqua, 10%);
  }
  &.disabled{
    cursor: not-allowed;
    color: $dark-gray;
    text-decoration: none;
  }
  &.organization{
    width: 200px;
  }
}

.aqua.arrow {
  position: relative;

  display: inline-block;

  padding-left: 20px;

  cursor: pointer;
  transition: .25s;
  &.block {
    display: block;
  }
  &:before {
    line-height: 15px;

    position: absolute;
    top: 0;
    left: 0;

    width: 15px;
    height: 15px;

    content: '';

    color: $white;
    border-radius: 100%;
    background-color: $aqua;

    @include at2x('ic_profile_arrow', 16px, 16px);
  }
  &:hover {
    color: darken($aqua, 10%);
  }
}

.overflow-hidden {
  overflow: hidden;
  .height-100 {
    margin-bottom: -9999px;
    padding-bottom: 9999px;
  }
}

.title {
  &.inline {
    img {
      display: inline-block;

      margin-right: 5px;
    }
    h3 {
      display: inline-block;
      &.big {
        font-size: 21px;

        margin: 0;
      }
    }
  }
}

.add-space-section {
  height: 190px !important;
}

.add-image,
.add-space {
  position: relative;

  width: 100%;
  height: 155px;

  background: $yellow;
  &:before {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;

    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 15px);

    width: 30px;
    height: 30px;

    content: '+';
    text-align: center;

    color: $yellow;
    border-radius: 100%;
    background-color: $black;
  }
  p {
    color: black;
    font-weight: 700;

    position: absolute;
    top: calc(50% + 20px);

    width: 100%;
    height: 20px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    text-transform: uppercase;
  }
}

.margin-top-0 {
  margin-top: 0px !important;
}

.add-space {
  margin-top: 33px;
}

.form--hidden {
  display: none;
}

.main-container {
  padding-bottom: 325px;
  min-height: 100%;
  position: relative;
}
.add-image-container {
  cursor: pointer;
}
.new-member {
  .add-image {
    height: 210px;
  }
  .hover .delete-photo {
    position: absolute;
    top: calc(50% - 16px);
    width: 140px;
  }
  .delete-organization-link {
    color: $gray-text;
    &:before {
      display: inline-block;
      margin-right: 5px;
      padding: 0px 3px;
      line-height: 16px;
      content: 'x';
      color: #9f9f9f;
      border-radius: 100%;
      border: 1px solid #9f9f9f;
    }
  }
}
.organization-profile {
  padding-bottom: 50px;
  .name {
    &:after {
      left: 230px !important;
    }
  }
  .members-list {
    padding-top: 20px;
  }
  .user-email {
    position: relative;
    margin-bottom: 15px;
    &:after {
      position: absolute;
      content: '';
      width: 40px;
      height: 2px;
      background-color: #ffe111;
      bottom: -7px;
      left: 160px;
    }
  }
}

