@import 'variables';
@import 'mixins';

.verification-steps {
  background-color: $dark-white;
  border-right: 1px solid $gray;
  width: 25%;
  float: left;
  .status {
    border-bottom: 1px solid $gray;
    .status-text {
      display: inline-block;
      margin: 0 5px 6px 0;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2px;
      span {
        color: red;
        margin-left: 7px;
      }
    }
    .progress-container {
      position: relative;
      width: 85%;
      margin-right: 5%;
      display: inline-block;
      height: 15px;
      vertical-align: middle;
      border: 2px solid $yellow;
      border-radius: 12px;
      overflow: hidden;
      .progress {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: $yellow;
        border-radius: 0;
        box-shadow: none;
      }
    }
    .progress-counter {
        width: 10%;
        display: inline-block;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      position: relative;
      padding: 20px;
      border-bottom: 1px solid $gray;
      &.done:after {
        content: '';
        position: absolute;
        right: 20px;
        top: 50%;
        width: 22px;
        height: 22px;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        @include at2x('venue_profile_why_book', 22px, 22px); //TODO asset
      }
      p {
        margin-bottom: 0;
        label.amenities_counter {
          float: right;
        }
      }
      &.selected{
        background-color: white;
        border-right: 1px solid $gray;
        margin-right: -1px;
        p {
          font-weight: 700;
          color: $black;
        }
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 5px;
          background-color: $yellow;
        }
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: -1px;
          bottom: 0;
          width: 3px;
          background-color: $white;
        }
      }
    }
  }
  .status,
  .publish,
  .delete {
    padding: 15px;
  }
  .delete a {
    @include at2x('ic_profile_close', 22px, 22px); //TODO asset
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 25px;
    color: $gray;
  }
}
