@import 'variables';
@import 'mixins';

.form-control{
  height: 40px;
  border: 1px solid $gray;
  color: $gray-text;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.form-group{
  margin-bottom: 8px;
  .form-control{
    height: 42px;
    border: 2px solid $light-gray;
    color: $gray-text;
  }
  textarea.form-control{
    height: 90px;
    font-size: 12px;
    letter-spacing: 0.08rem;
    font-weight: 300;
  }
  input[type='text'].form-control{
    font-size: 12px;
    letter-spacing: 0.08rem;
    font-weight: 300;
    padding-bottom: 2px;
  }
  *::-webkit-input-placeholder{
    color: $dark-gray;
  }
  *:-moz-placeholder{
    color: $dark-gray;
  }
  *::-moz-placeholder{
    color: $dark-gray;
  }
  *:-ms-input-placeholder{
    color: $dark-gray;
  }
}

.checkbox-label{
  display: inline-block;
}

label{
  font-weight: 300;
  letter-spacing: 0.05em;
  color: $dark-gray;
}

.form-control:focus, input[type="checkbox"]:focus, input[type="radio"]:focus{
  -webkit-appearance: none;
  -moz-appearance:none;
  -o-appearance:none;
  border: 1px solid $gray;
}

input[type='submit']:focus{
  outline: 0px none;
  background-color: $light-yellow;
}

input[type="checkbox"], input[type="radio"]{
  height: 17px;
  width: 17px;
  margin: 0;
  margin-right: 5px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background-color: white;
  border: 1px solid $gray !important;
  padding: 5px;
  display: inline-block;
  position: relative;
  border-radius: 3px;
  vertical-align: middle;
  &:checked:after {
    content: '\2714';
    position: absolute;
    bottom: -1px;
    left: 2px;
    color: $gray-text;
    font-size: 12px;
  }
}

.subtitle {
  margin-bottom: 20px;
  margin-top: 30px;
  p {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: $dark-gray;
  }
}

.vertical-align {
  margin-top: 36px;
}
