@import 'variables';
@import 'mixins';

.form-group{
  margin-bottom: 11px;
  .input-group{
    .input-group-addon{
      background-color: white;
      color: $gray-text;
    }
  }
}

.form-control{
  height: 40px;
  border: 1px solid $gray;
  color: $gray-text;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.form-group{
  margin-bottom: 8px;
  .form-control{
    height: 42px;
    border: 2px solid $light-gray;
    color: $gray-text;
  }
  textarea.form-control{
    height: 90px;
    font-size: 12px;
    letter-spacing: 0.08rem;
    font-weight: 300;
  }
  input[type='text'].form-control{
    font-size: 12px;
    letter-spacing: 0.08rem;
    font-weight: 300;
    padding-bottom: 2px;
  }
  *::-webkit-input-placeholder{
    color: $dark-gray;
  }
  *:-moz-placeholder{
    color: $dark-gray;
  }
  *::-moz-placeholder{
    color: $dark-gray;
  }
  *:-ms-input-placeholder{
    color: $dark-gray;
  }
}

.checkbox-label{
  display: inline-block;
}

label{
  padding-left: 6px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: $dark-gray;
}

.form-control:focus, input[type="checkbox"]:focus{
  -webkit-appearance: none;
  -moz-appearance:none;
  -o-appearance:none;
  border: 1px solid $gray;
}

input[type='submit']:focus{
  outline: 0px none;
  background-color: $light-yellow;
}

input[type="checkbox"]{
  height: 12px;
  width: 12px;
  margin-bottom: 0px;
  margin-right: 5px;
  margin-top: 7px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance:none;
  -o-appearance:none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background-color: white;
  border: 1px solid $gray !important;
  padding: 5px;
  display: inline-block;
  position: relative;
}

input[type="checkbox"]:checked:after {
  content: '\2714';
  position: absolute;
  bottom: 0.1em;
  left: 0.3em;
  color: $gray-text;
  font-size: 0.5em;
}

.subtitle {
  margin-bottom: 20px;
  p {
    display: inline-block;
    vertical-align: middle;
  }
}