@import 'variables';
@import 'mixins';

.inbox{
  .left-panel,
  .right-panel {
    float: left;
    box-sizing: content-box;
  }
  .left-panel {
    width: 25%;
  }
  .right-panel {
    width: calc(75% - 30px);
    padding: 15px 15px 0;
  }
  .booking-list{
    background: $light-gray;
    margin: 0px;
    overflow: auto;
    height: calc(100vh - 155px);
    .booking-item{
      border-bottom: solid 1px $gray;
      border-right: solid 1px $gray;
      position: relative;
      padding: 15px;
      &.selected{
        background: $white;
        border-right: solid 1px $white;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 5px;
          background-color: $yellow;
        }
      }
    }
  }
  .booking-details{
    background: cyan;
  }
  .pagination-container {
    width: 100%;
    text-align: center;
    padding-top: 8px;
  }
}

.booking-item-wrapper {
  position: relative;
  .delete-item {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: $dark-gray;
    border: none;
    line-height: 1;
    font-size: 12px;
    color: $white;
  }
  .avatar-wrapper {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    img {
      width: 100%;
      height:100%;
    }
  }
  .wrapper {
    width: calc(100% - 60px);
    display: inline-block;
    vertical-align: top;
    h3,
    h4 {
      display: inline-block;
      font-size: 14px;
      margin: 0 0 10px;
      vertical-align: middle;
      position: relative;
    }
    h3 {
      margin-right: 5px;
      &:after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 0;
        height: 2px;
        width: 40%;
        background-color: $yellow;
      }
    }
    h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 150px;
    }
    .bottom-content {
      display: inline-block;
      font-size: 12px;
      line-height: 20px;
      &.messages {
        @include at2x('venue_profile_a_team_bookings', 20px, 20px);
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 25px;
      }
    }
    .pending,
    .approved,
    .paid,
    .cancelled,
    .denied,
    .expired {
      text-transform: uppercase;
      font-weight: 700;
      width: 90px;
    }
    .pending {
      color: $red;
    }
    .approved {
      color: $aqua;
    }
    .paid {
      color: $yellow;
    }
    .cancelled {
      color: $dark-gray;
    }
    .denied {
      color: $dark-gray;
    }
    .expired {
      color: $dark-gray;
    }
  }
}
.inbox {
  .header {
    margin-bottom: 30px;
    .detail,
    .total {
      padding: 15px;
    }
    .detail {
      background-color: $yellow;
      .value {
        margin-left: 22px;
      }
      .plus:after {
        content: '+';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -15px;
        font-size: 24px;
      }
      .minus:after {
        content: '-';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -15px;
        font-size: 24px;
      }
    }
    .total {
      background-color: $light-gray;
    }
    .title,
    .concept,
    .value {
      color: $black;
      font-size: 16px;
      width: calc(100% - 22px);
      display: inline-block;
      vertical-align: baseline;
    }
    .title {
      position: relative;
      display: inline-block;
      font-weight: 700;
      &:after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 0;
        height: 2px;
        width: 40%;
        background-color: $white;
      }
    }
    .value {
      font-weight: 700;
    }
  }
}

.inbox-header {
  .space-data {
    .avatar {
      display: inline-block;
      margin-right: 20px;
      height: 50px;
      width: 50px;
      border-radius: 100%;
      background-size: contain;
    }
    .space-name,
    .capacity,
    .venue-name {
      display: inline-block;
      font-size: 16px;
    }
    .wrapper {
      display: inline-block;
      vertical-align: top;
    }
    .space-name {
      position: relative;
      font-weight: 700;
      margin: 0 10px 0 0;
      &:after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 0;
        height: 2px;
        width: 40%;
        background-color: $yellow;
      }
    }
    .capacity {
      @include at2x('venue_profile_a_team_bookings', 20px, 20px);
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 25px;
      margin-right: 10px;
    }
    .venue-name {

    }
    .city {
      @include at2x('i-location', 14px, 20px);
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 20px;
      margin-top: 10px;
    }
    .from {

    }
    .to {

    }
    .quantity {

    }
  }
  .date {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    color: $dark-gray;
    span {
      display: block;
    }
    span:first-child {
      font-weight: 700;
    }
    &:after {
      position: absolute;
      content: '';
      right: 0;
      border-right: 1px solid;
      top: 10px;
      bottom: 10px;
    }
    &:last-child:after {
      border-right: none;
    }
  }
  .buttons{
    margin: 60px 0 20px;
  }
}

.inbox {
  .messages {
    .title {
      font-size: 14px;
      border-bottom: 1px solid $gray;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }
  .message-input {
    display: block;
    width: 100%;
    border: 0;
    border-top: 2px solid $gray;
    margin-top: 20px;
    background-color: $dark-white;
    padding: 10px;
    outline: none;
  }
}

.messages-wrapper {
  min-height: 100px;
  height: calc(100vh - 600px);
  overflow-y: auto;
  .who {
    display: inline-block;
    max-width: 400px;
    clear: both;
    float: left;
    .message-text {
      padding: 5px 10px;
      margin: 5px 0;
    }
    &.me {
      float: right;
      .message-header {
        text-align: right;
      }
      .message-name,
      .message-date,
      .message-text {
        background-color: $light-gray;
      }
    }
    &.other {
      .message-name,
      .message-date,
      .message-text {
        background-color: $white-yellow;
      }
    }
  }

  .message-header {
    .message-avatar,
    .message-name,
    .message-date {
      display: inline-block;
      padding-right: 5px;
      vertical-align: middle;
      font-size: 10px;
    }
    .message-avatar {
      width: 24px;
      height: 24px;
      z-index: 1;
      position: relative;
      background-color: $white;
      border-radius: 100%;
      background-position: top left;
      background-size: contain;
    }
    .message-name {
      padding-left: 15px;
      margin-left: -10px;
    }
    .message-date {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      padding-right: 10px;
    }
  }

  .message-text {
    font-size: 14px;
  }
}

.guest-data {
  border-left: 1px solid $gray;
  .avatar {
    display: inline-block;
    margin-right: 10px;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    background-size: contain;
  }
  .title {
    position: relative;
    font-weight: 700;
    margin: 0;
    display: inline-block;
    float: left;
    clear: both;
    &:after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 0;
      height: 2px;
      width: 40%;
      background-color: $yellow;
    }
  }
  .wrapper {
    display: inline-block;
    vertical-align: top;
    .name,
    .description {
      line-height: 18px;
    }
    .name {
      font-size: 14px;
    }
    .description {
      color: $black;
      font-size: 12px;
      font-weight: 700;
    }
  }
}
