@import 'variables';
@import 'mixins';

.errors span {
  color: $red;
}

.small-italic{
  @include dark-gray-regular-text;
  font-style: italic;
  vertical-align: top;
  line-height: 25px;
}

.dark-gray-regular{
  @include dark-gray-regular-text;
}

.aqua-bold{
  color: $aqua;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.login-page{
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  h1, h2{
    text-align: center;
  }
  h1.icon{
    background-image: image-url('tub_full_gris.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    height: 69px;
    width: 100%;
  }
  .section-header h2{
    @include section-text;
    margin-top: 2px;
    span{
      line-height: 28px;
      padding-bottom: 7px;
      border-bottom: 2px solid $yellow;
    }
  }

  .fb-login-button{
    background: $fb-blue;
    background-image: image-url('facebook.png');
    background-size: 16px 24px;
    background-repeat: no-repeat;
    background-position-x: 16px;
    background-position-y: 12px;
    height: 46px;
    margin: 25px 0px;
    @include border-radius(5px);
    a, a:hover{
      color: white;
    }
    .fb-button-text{
      height: 19px;
      border-left: 1px solid white;
      margin: 0 55px;
      position: relative;
      top: 13px;
      text-align: center;
      letter-spacing: 0.08rem;
    }
  }
  .section-separator{
    @include section-text;
    width: 100%;
    height: 10px;
    border-bottom: solid 2px $yellow;
    margin-bottom: 23px;
    .separator-text{
      float: right;
      background-color: white;
      margin-right: 46%;
      padding: 0 10px;
    }

  }
  .help{
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: $dark-gray;
  }
  #login-form, #signup-form, #reset-password-form{
    color: $dark-gray;

    #error_explanation h2 {
      text-align: left;
      font-weight: bold;
      padding: 5px 5px 5px 15px;
      font-size: 12px;
      margin: -7px;
      background-color: #c00;
      color: #fff;
    }

    #error_explanation p {
      color: #333;
      margin-bottom: 0;
      padding: 5px;
    }

    #error_explanation ul li {
      font-size: 12px;
      list-style: square;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  #signup-form {
    .small-italic {
      line-height: 16px;
      margin: 5px 0;
      display: inline-block;
    }
    .right {
      text-align: right;
      .error {
        color: $red;
        font-size: 10px;
        &.error--hidden {
          display: none;
        }
      }
    }
  }

  .rounded-button{
    width: 100%;
  }
  .form-footer{
    margin-right: auto;
    margin-left: auto;
    margin-top: 22px;
    .left{
      text-align: right;
      width: 50%;
      padding-right: 5px;
    }
    .right{
      text-align: left;
      width: 50%;
      padding-left: 5px;
    }
  }
}
