@import 'variables';
@import 'mixins';

.menubar {
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 1px $gray-text;
  -moz-box-shadow: 0px 0px 5px 1px $gray-text;
  box-shadow: 0px 0px 5px 1px $gray-text;
  .navbar-collapse{
    border-color: $gray-text;
  }
  .navbar-brand {
    padding: 13px 16px 6px;
    height: 57px;
    img{
      display: inline-block;
    }
  }
  .search {
    height: 40px;
    margin-top: 10px;
    width: 300px;
    .styled-search{
      background-color: $dark-white;
      @include border-radius(2em);
      @include at2x('loupe', 24px, 24px);
      background-size: 24px;
      background-repeat: no-repeat;
      background-position-x: 18px;
      background-position-y: center;
      height: 40px;
      border: 0px;
    }
    input[type='text'].form-control {
      width: 100%;
      background-color: transparent;
      padding-left: 50px;
      font-size: 14px;
      letter-spacing: 0.08rem;
      font-weight: 200;
      padding-bottom: 4px;
      height: 39px;
      border: 0px;
      @include border-radius(2em);
      -webkit-box-shadow: none;
    }
    *::-webkit-input-placeholder {
      color: $dark-gray;
    }
    *:-moz-placeholder {
      color: $dark-gray;
    }
    *::-moz-placeholder {
      color: $dark-gray;
    }
    *:-ms-input-placeholder {
      color: $dark-gray;
    }
  }
  a.user {
    padding: 0;
    .name{
      display: inline-block;
      padding-left: 8px;
      letter-spacing: 0.06rem;
      font-weight: 300;
      color: $dark-gray;
      vertical-align: bottom;
      width: 115px;
    }
    .avatar {
      display: inline-block;
      width: 24px;
      height: 24px;
      padding: 0px;
      img {
        @include border-radius(100%);
        width: 100%;
        height: 100%;
      }
    }
  }
  .list-space {
    @include border-radius(2em);
    border: 2px solid $yellow;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    letter-spacing: 0.08rem;
    color: black !important;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 14px;
    @include transition(background-color);
    margin-top: 10px;
    margin-right: 15px;
    p {
      margin-bottom: 0;
      line-height: 1;
    }
  }
  a.list-space:hover {
    color: $black;
    background-color: $yellow;
  }
  .messages {
    @include at2x('nav-bar-inbox', 28px, 23px);
    background-size: 28px 23px;
    background-repeat: no-repeat;
    background-position: 0px 4px;
    width: 35px;
    height: 27px;
    position: relative;
    p {
      position: absolute;
      bottom: 13px;
      left: 16px;
      display: inline-block;
      background-color: $red;
      @include border-radius(100%);
      color: white;
      margin: 0;
      line-height: 10px;
      font-size: 10px;
      text-align: center;
      padding: 3px;
      min-width: 16px;
    }
  }
}

.after-menu {
  padding-top: 58px;
}

.user-dropdown.dropdown-menu {
  width: 200px;
  padding: 6px 10px;
  border: none;
  margin-top: 0;
  border-radius: 0;
  li {
    &.divider {
      padding: 0;
    }
    a,
    .title {
      padding: 10px;
      font-weight: 300;
      font-size: 13px;
      color: $gray-text;
    }
    a:hover {
      background-color: $yellow;
      color: $black;
      font-size: 500;
      p {
        color: $black;
      }
    }
    .dropdown-link {
      color: $black;
      font-weight: 700;
      @include border-radius(2em);
      border: 2px solid $yellow;
      font-size: 13px;
      margin: 10px;
      padding: 5px;
    }
  }
}

.navbar {
  .dropdown-toggle.btn-default {
    background-color: $white;
    border: none;
    line-height: 57px;
    padding: 0;
  }
}

.user-visible {
  display: block;
  width: 160px;
  text-align: left;
  .avatar,
  .name {
    display: inline-block;
    vertical-align: middle;
  }
  .avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    @include border-radius(100%);
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      vertical-align: initial;
    }
  }
}

/* transparent menu bar for landing */
[data-controller="landing"][data-action="index"]{
  .navbar-fixed-top{
    position: absolute;
  }
  .menubar{
    border-color: transparent;
    -webkit-box-shadow: 0px 0px 0px 0px transparent;
    -moz-box-shadow: 0px 0px 0px 0px transparent;
    box-shadow: 0px 0px 0px 0px transparent;
    background-color: transparent;
    .navbar-brand {
      img{
        display: none;
      }
      @include at2x('isologo-top-bar', 205px, 35px);
      background-repeat: no-repeat;
      background-position: center;
      width: 232px;
    }
    li .search{
      display: none;
    }
    li a.list-space p{
      color: white;
    }
    li .sign-in-text{
      color: white;
    }
    ul.nav.mobile-menu-items li{
      background-color: white;
      &:hover{
        background-color: $yellow;
      }
    }
  }
  .navbar .dropdown-toggle.btn-default{
    background: transparent;
    .user-visible .name p{
      color: white;
    }
  }
  .after-menu{
    padding-top: 0px;
  }
}
