@import 'variables';
@import 'mixins';

/* custom popovers */
.space-popover{
  position: absolute;
  width: 116px;
  height: 42px;
  top: 2px;
  right: 30px;
  background-color: white;
  border: solid 1px white;
  margin: 20px;
  padding-top: 10px;
  -webkit-box-shadow: 0px 0px 5px 1px $gray-text;
  -moz-box-shadow: 0px 0px 5px 1px $gray-text;
  box-shadow: 0px 0px 5px 1px $gray-text;
  .arrow{
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: 50%;
    right: -12px;
    margin-top: -6px;
    border-right-width: 0;
    border-left-color: white;
    border-width: 6px;
  }
  .arrow::after{
    right: 1px;
    bottom: -10px;
    content: "";
    border-right-width: 0;
    border-left-color: white;
    border-width: 5px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
  a{
    font-weight: 300;
    color: $gray-text;
    margin-right: 4px;
    margin-left: 11px;
    font-size: 14px;
    letter-spacing: 0.06rem;
    cursor: pointer;
  }
}

/* bootstrap popovers */
.popover{
  border: solid 1px $aqua;
  min-width: 250px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 1px $gray-text;
  -moz-box-shadow: 0px 0px 5px 1px $gray-text;
  box-shadow: 0px 0px 5px 1px $gray-text;
  @include border-radius(0px);
  .popover-content{
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
    text-align: center;
    letter-spacing: 0.06rem;
    padding: 7px 9px;
    color: $desk-black;
  }
  &.left .arrow{
    right: -12px;
    margin-top: -6px;
    border-left-color: $aqua;
    border-width: 6px;
  }
  &.left .arrow::after{
    border-left-color: white;
    border-width: 5px;
    bottom: -5px;
    right: -4px;
  }
  &.right .arrow{
    left: -12px;
    margin-top: -6px;
    border-right-color: $aqua;
    border-width: 6px;
  }
  &.right .arrow::after{
    border-right-color: white;
    border-width: 5px;
    bottom: -5px;
    left: -4px;
  }
}
