@import 'variables';

.main-container {
  background-image: url('bkg_invite_friends.jpg');
  text-align: center;
}

.elements {
  padding-top: 30px;
  text-align: center;
  position: relative;
}

.first-title {
  display: block;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 50px;
}

.background {
  height: calc(100% - 120px);
  width: 100%;
  background: $yellow-background;
  position: absolute;
}

.second-title {
  padding: 30px;
  font-size: 30px;
  color: $light-black;
}

.text {
  color: white;
  max-width: 500px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 25px;
  font-weight: 100;
}

.white {
  display: block;
  margin: 0 auto;
  width: 50px;
  border-color: white;
}

.invitation {
  display: block;
  margin: 50px auto;
  .styled-input {
    text-align: left;
    display: inline-block;
    border: none;
    padding: 0 10px;
    background-color: white;
    height: 40px;
    width: 400px;
    vertical-align: middle;
    input {
      width: 85%;
    }
  }
  button {
    display: inline-block;
    background-color: $light-black;
    font-weight: 700;
    box-shadow: none;
    color: $yellow;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 2px;
  }
}

input {
  line-height: 40px;
  border: none;
  padding: 0;
  margin-left: 10px;
}

input:focus {
  outline: none;
}

span.example {
    line-height: 40px;
    margin: 0;
}

.alert {
  padding: 0;
  border: 1px solid $aqua;
  width: 450px;
  margin: 0 auto;
  &.alert--hidden {
    display: none;
  }
  span {
    color: $light-black;
    padding: 10px 5px;
  }
  span.mail {
    color: $aqua;
    padding: 10px 5px;
    font-weight: bold;
  }
}
