$gray-text: #9f9f9f;
$yellow: #ffe111;

@mixin at2x($image_name, $w: auto, $h: auto, $extention: '.png') {
  background-image: image_url($image_name + $extention);
  $x2img : $image_name + '@2x' + $extention;

  @media all and (-webkit-min-device-pixel-ratio : 1.5) {
    background-image: image_url($x2img);
    background-size: $w $h;
  }
}

@mixin transition($property, $duration : 0.2s) {
  -webkit-transition: $property $duration;
  transition: $property $duration;
}

/* small devices */
@media screen and (min-width: 0px) and (max-width: 767px) {
  .company, .find-us {
    padding-left: 0px !important;
    text-align: center;
    .separator{
      margin: 11px auto !important;
    }
  }
  .tab-selector-container {
    margin: 0 auto 15px !important;
  }
  .pagination-container {
    text-align: center;
  }
  .main-container{
    padding-bottom: 720px !important;
  }
}

/* Customizing the collapse menu width*/
$grid-float-breakpoint: 950px;
@media all and (min-width: 0px) and (max-width: $grid-float-breakpoint) {
  /* display logo in the middle of nav bar when devise is mobile*/
  .navbar {
    border: none;
  }
  .menubar .navbar-brand {
    position: absolute;
    width: -moz-calc(100% - 120px);
    width: -webkit-calc(100% - 120px);
    width: calc(100% - 120px);
    left: 30px;
    top: 10px;
    text-align: center;
    margin: auto;
    padding: 6px 16px;
    img {
      display: inline-block;
    }
  }
  .hidden-collapse {
    display: none !important;
  }
  .mobile-menu-items {
    margin-top: 0;
    margin-bottom: 0;
    li {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      letter-spacing: 0.08rem;
      color: black !important;
      text-align: center;
      cursor: pointer;
      font-size: 14px;
      border-bottom: solid 1px $gray-text;
      @include transition(background-color);
    }
    li:hover {
      background-color: $yellow;
    }
  }
}
@media all  and (min-width: 951px) {
  .hidden-large-navbar {
    display: none !important;
  }
}

/* tunning venue cards for small devises */
@media all and (max-width: 500px) {
  .space-card, .info-card {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    .professions {
      -webkit-column-count: 1 !important; /* Chrome, Safari, Opera */
      -moz-column-count: 1 !important; /* Firefox */
      column-count: 1 !important;
    }
    .amenities-list .amenity {
      width: 95%;
    }
    .vertical-separator.small-hidden {
      border-right: solid 1px white !important;
    }
    .vertical-separator.large-hidden {
      border-right: solid 1px $gray-text !important;
    }
  }
  .why-card {
    .space-info {
      margin-top: 30px !important;
    }
    .why-deskspotting-list {
      display: inline-block;
      width: 100% !important;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      .why-deskspotting{
        margin-top: 0px !important;
      }
    }
  }
}

.search-mobile {
  padding: 30% 0px;
  margin-top: -8px;
  height: 700px;
}

