@import 'variables';
@import 'mixins';


.static-page{
  h1{
    text-align: center;
    padding-top: 20px;
  }
  .separator{
    margin-top: 0px;
  }
  .content{
    min-height: 500px;
    padding: 0px 40px;
    text-align: justify;
  }
}
