@import 'variables';
@import 'mixins';

// amenities
.amenity-checkbox {
  margin-bottom: 23px;
  text-transform: capitalize;
}

#venue-list {
  .panel {
    border: none;
    border-bottom: 1px solid $gray;
    & + .panel {
      margin-top: 0;
    }
  }
  .panel-heading {
    position: relative;
    background-color: $white;
    border: none;
    cursor: pointer;
    transition: .25s;
    border-radius: 0;
    padding: 10px 15px 0px;
    &:hover {
      background-color: $dark-white;
    }
    .right-wrapper {
      position: absolute;
      right: 15px;
      top: 50%;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      .edit,
      .arrow {
        display: inline-block;
      }
      .edit {
        margin-right: 50px;
      }
      .arrow {
        vertical-align: middle;
      }
    }
    &.collapsed {
      .arrow {
        -ms-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        transform-origin: 50% 50%;
      }
    }
    &.open {
      .arrow {
        -ms-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        transform-origin: 50% 50%;
      }
    }
    .venue-bar {
      .basic-info{
        padding-bottom: 15px;
      }
      .venue-avatar{
        margin: 0px;
        height: auto;
        width: auto;
        vertical-align: top;
        img{
          margin-top: 45%;
        }
      }
    }

  }
  .panel-body {
    background-color: $light-gray;
    border-top: 2px solid $gray;
    border-bottom: 2px solid $gray;
  }
}

.panel-body{
  .space {
    background-color: white;
    @include at2x('space-no-photo', 90px, 90px);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    margin: 15px auto;
    &.add-image-container{
      background-color: $yellow;
      height: 250px;
      background-image: none;
    }
  }
}

.rounded-img {
  border-radius: 100%;
  width: 95px;
  height: 95px;
  border: 3px solid $yellow;
}

.venues-space {
  height: 250px;
  margin-top: 15px;
}
