@import 'variables';
@import 'mixins';

[data-action="wishlist"] {
  background-color: $light-gray;
  .space-info {
    background-color: $white;
    padding: 15px;
    .name {
      position: relative;
      display: inline-block;
      &:after {
        position: absolute;
        content: '';
        bottom: -4px;
        left: 0;
        width: 40%;
        height: 2px;
        background-color: $yellow;
      }
    }
    .city {
      text-transform: uppercase;
      color: $gray-text;
      margin-top: 10px;
      font-size: 10px;
    }
  }
  .bottom-line {
    line-height: 20px;
    margin-top: 6px;
    font-size: 12px;
    .currency,
    [class^="price-"] {
      display: inline-block;
      vertical-align: middle;
    }
    .currency {
      padding: 0 6px;
      background-color: $yellow;
      margin-right: 20px;
    }
    [class^="price-"] {
      margin-right: 10px;
    }
    .hour-price,
    .day-price,
    .week-price,
    .month-price {
      font-weight: bold;
      margin-right: 2px;
    }
  }
  .wishlist-pagination {
    margin-top: 30px;
  }
  .favourite{
    cursor: pointer;
    position: absolute;
    width: 48px;
    height: 48px;
    z-index: 1;
    @include at2x('venue_wishlist_grey_inactive', 48px, 48px);
    top: 10px;
    right: 20px;
    &.active{
      @include at2x('venue_wishlist_grey_active', 48px, 48px);
    }
  }
}